In [2]:
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import pandas as pd

df = pd.read_csv('filtered.csv')
df.head(5)

          x         y      y_xg     y_exp      y_ma
0  1.000000  4.730981  5.542108  6.634706       NaN
1  1.000694  4.440981  5.528904  6.615669       NaN
2  1.001389  5.030981  5.516311  6.593922       NaN
3  1.002083  5.080981  5.504328  6.578292       NaN
4  1.002778  5.180981  5.492956  6.563319  4.892981